@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


body {
    background-color: #121113;
    font-family: "Rampart One", cursive;
    display:flex;
    flex-direction:column;
    height:100vh;
    margin:0;
    padding:0;
    color:white;
}


header { 
    display:flex;
    font-size: 36px;
    align-items: center;
    max-height:20%;
    background-color: rgb(31, 31, 31);
    padding:20px;
    color:white;
}

.box {
    display:flex;
    flex:1;

}

.box.one {
    display:flex;


}
.box.two {
    display:flex;
    margin:20px;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
}

.box.three {
    display:flex;
    justify-content: center;
    background-color:rgb(65, 64, 64);
    flex:1;
}
footer {
    display:flex;
    justify-content:center;
    background-color: rgb(65, 64, 64);
    color:white;
}

button {
    display:flex;
    height: 150px;
    width: 150px;
    justify-content:center;
    align-items:flex-end;
    font-weight: bolder;
    border-radius: 15px;
    border-color: #EA62e7;
    font-size: 24px;
    box-shadow: 2px 2px 5px;
}

#rock {
    background-image: url(../images/rock.png);
    background-repeat:no-repeat;
    background-size:100%
}

#paper {
    background-image: url(../images/paper.png);
    background-repeat:no-repeat;
    background-size:100%
}

#scissors {
    background-image: url(../images/scissors.png);
    background-repeat:no-repeat;
    background-size:100%
}

#record {
    display:flex;
    flex: 1;
    outline-color:white;
    outline-style:solid;
    flex-direction: column;
    margin:10px;
    max-height:1000px;
    flex-wrap:wrap;
}

.records {
    padding:5px;
    margin:10px;
    outline-style:dotted;
    max-width:20rem
}

.records > * {
    margin:0
}

.container {
    display:flex;
    justify-content: center;
    flex-direction:column;
    flex-wrap: wrap;
    flex:1;
}

#win-loss {
    display:flex;
    justify-self: center;
    align-self:center;
}